### Import libraries

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading .csv file

In [26]:
df = pd.read_csv('train.csv')

In [27]:
df['year'] = df['time'].apply(lambda row: row[:4])
df['month'] = df['time'].apply(lambda row: row.split('-')[1][:2] )
df['date'] = df['time'].apply(lambda row: row.split('-')[2][:2] )
df['hour'] = df['time'].apply(lambda row: row.split(':')[0][-2:] )
df['mins'] = df['time'].apply(lambda row: row.split(':')[1] )
df['d'] = df['time'].apply(lambda row : row.split(':')[0])
df['dates'] = df['d'].apply(lambda row : row.split(' ')[0])

In [28]:
from datetime import datetime
df['dates'] = df['time'].apply(lambda row: row[:-9].split('-')[:3])
df['dates'] = df['dates'].apply(lambda row: datetime(int(row[0]), int(row[1]), int(row[2])))
df['weekdays'] = df['dates'].apply(lambda row: row.weekday())

In [31]:
df.head(196)

,row_id,time,x,y,direction,congestion,year,month,date,hour,mins,d,dates,weekdays
0,0,1991-04-01 00:00:00,0,0,EB,70,1991,04,01,00,00,1991-04-01 00,1991-04-01,0
1,1,1991-04-01 00:00:00,0,0,NB,49,1991,04,01,00,00,1991-04-01 00,1991-04-01,0
2,2,1991-04-01 00:00:00,0,0,SB,24,1991,04,01,00,00,1991-04-01 00,1991-04-01,0
3,3,1991-04-01 00:00:00,0,1,EB,18,1991,04,01,00,00,1991-04-01 00,1991-04-01,0
4,4,1991-04-01 00:00:00,0,1,NB,60,1991,04,01,00,00,1991-04-01 00,1991-04-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,191,1991-04-01 00:40:00,2,3,NE,30,1991,04,01,00,40,1991-04-01 00,1991-04-01,0
192,192,1991-04-01 00:40:00,2,3,SB,79,1991,04,01,00,40,1991-04-01 00,1991-04-01,0
193,193,1991-04-01 00:40:00,2,3,SW,29,1991,04,01,00,40,1991-04-01 00,1991-04-01,0
194,194,1991-04-01 00:40:00,2,3,WB,48,1991,04,01,00,40,1991-04-01 00,1991-04-01,0
195,195,1991-04-01 01:00:00,0,0,EB,70,1991,04,01,01,00,1991-04-01 01,1991-04-01,0

In [ ]:
df.drop('time', axis=1, inplace=True)
df.drop('d', axis=1, inplace=True)

In [ ]:
df.groupby('mins').count()

In [ ]:
df.head()

In [ ]:
df.congestion.describe()

In [ ]:
sns.set_style('darkgrid')
sns.set(rc = {'figure.figsize':(15,8)})

b = sns.barplot(x ='direction', y ='congestion', data = df, palette ='plasma')
b.set_xlabel('Directions', fontsize = 15)
b.set_ylabel('Congestion', fontsize = 15)
b.set_title('Direction Vs Congestion', fontsize = 20)

In [ ]:
sns.set_style('darkgrid')
sns.set(rc = {'figure.figsize':(15,8)})

a = sns.barplot(x ='hour', y ='congestion', data = df, palette ='plasma')
a.set_xlabel('Hour', fontsize = 15)
a.set_ylabel('Congestion', fontsize = 15)
a.set_title('Hour Vs Congestion', fontsize = 20)

In [ ]:
sns.set_style('darkgrid')
sns.set(rc = {'figure.figsize':(15,8)})

a = sns.barplot(x ='hour', y ='congestion', data = df, palette ='plasma')
a.set_xlabel('Hour', fontsize = 15)
a.set_ylabel('Congestion', fontsize = 15)
a.set_title('Hour Vs Congestion', fontsize = 20)

In [ ]:
df_maxd = df.loc[df.groupby('hour')['congestion']]
df_maxd

In [ ]:
df_maxd.shape

In [ ]:
sns.set_style('darkgrid')
sns.barplot(x ='weekdays', y ='congestion', data = df, palette ='plasma')